.home-container {
  padding: 40px 60px;
}

.home-title {
  font-size: 2rem;
  color: #22d3ee;
  text-align: left;
  margin-bottom: 30px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}